In [180]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from statistics import mean

In [181]:
%matplotlib inline

In [182]:
df= pd.read_csv("Bangladesh_mean.csv")

In [183]:
df

,Type of place of residence,Age of mother,Mother's BMI,Mother's educational level,Mother's Occupation,Number Of ANC Visits,Total Number Of Ever Born Child,Ever had a terminated pregnancy,Decision Making Power On Delivery Place,Waching TV,Husband's Education,Husband's Occupation's,Household Wealth Quintile,Source Of Drinking Water,Household Toilet Facility,Level data_Last birth a caesarean section
0,2,1,2.0,2,0,1.40601,1,0,2.0,0,2.0,4.0,4,0,0,0.0
1,2,0,2.0,1,1,1.00000,0,0,1.0,0,1.0,4.0,0,1,0,0.0
2,2,0,1.0,1,1,1.40601,1,0,1.0,0,1.0,1.0,1,1,1,0.0
3,2,0,2.0,2,1,2.00000,0,0,1.0,0,1.0,4.0,0,1,0,0.0
4,2,0,2.0,3,0,1.00000,0,0,1.0,1,2.0,4.0,2,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,2,0,1.0,3,1,1.00000,0,0,1.0,0,2.0,1.0,1,1,0,0.0
5400,1,1,2.0,1,1,1.00000,1,1,0.0,1,2.0,4.0,3,0,0,0.0
5401,1,1,2.0,3,0,2.00000,0,1,1.0,1,3.0,2.0,4,1,0,1.0
5402,1,0,2.0,2,0,2.00000,0,1,1.0,1,2.0,4.0,3,1,0,1.0
5403,1,1,2.0,2,0,2.00000,0,0,1.0,1,2.0,4.0,4,1,1,0.0

In [186]:
x=df.iloc[:,:-1].values

In [187]:
scaler = preprocessing.MinMaxScaler()
x_scaled = scaler.fit_transform(x)

In [188]:
y=df.iloc[:,15].values

In [189]:
#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train,y_test = train_test_split(x, y, test_size = 0.27, random_state = 0)

In [232]:
from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=100,shuffle=True, random_state=1)

In [233]:
for idx in kf.split( x,y):
        train_idx, test_idx=idx[0], idx[1]
        xtrain = x[train_idx]
        ytrain = y[train_idx]
        
        xtest = x[test_idx]
        ytest = y[test_idx]

In [234]:
#Fitting Random Forest Model for dataset

In [235]:
from sklearn.ensemble import RandomForestRegressor

regressor=RandomForestRegressor(n_estimators=300,random_state=0)
regressor.fit(xtrain,ytrain)

RandomForestRegressor(n_estimators=300, random_state=0)

In [236]:
y_pred=regressor.predict(xtest)
predictions= [round(value) for value in y_pred]
accu=accuracy_score(ytest,predictions)
print("Accuracy: %.2f%%" %(accu* 100.00))

Accuracy: 75.93%

In [178]:
y_pred[539]

0.5940476190476189

In [167]:
x_grid= np.arange(min(x),max(x),0.01)
X_grid = X_grid.reshape(len(X_grid),1).a
plt.scatter(x[:,0],y,color='red')
plt.plot(x, regressor.predict(x),color='blue')
plt.xlabel('C-section factors')
plt.ylabel('Last birth a caesarean section ')    
plt.show()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [87]:
x.shape

(5404, 15)

In [88]:
y.shape

(5404,)